<!-- Thumbnail -->

<div></div>
<h1 class="my-3">Comunidad Fotografica</h1>
<p>Comunidad dedicada a la Fotografia</p>
 <%= link_to "Home", root_path, class:"btn btn-primary col-10 center-block"%>
					
                    <section id="thumbnails">
					                        
                        <article>
							<a class="thumbnail" href="assets/fulls/nikon.jpg" data-position="left center"></a>
							<h2>Apasionados por la Fotografía</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</article>
						<article>
							<a class="thumbnail" href="assets/fulls/estudio.jpg" data-position="left center"></a>
							<h2>Profesionalismo y Perfección</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</article>
                        <article>
							<a class="thumbnail" href="assets/fulls/cat.jpg" data-position="left center"></a>
							<h2>Compromiso</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</article>

                        
					</section>